@font-face {
    font-family: "GardensC";
    src: url(../font/GardensC.otf);
}
*{
    box-sizing: border-box;
    margin: 0%;
    user-select: none;
    font-family: "GardensC";
}
html {
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 10vh;
    background-color: rgb(82, 156, 175);
    display: flex;
    align-items: center;
    padding: 0vh 15vh 0vh 15vh;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
}
.logo{
    width: 15vh;
}
.hdr-ul{
    display: flex;
    gap: 5vh;
    list-style-type: none;
}
.ha{
    text-decoration: none;
    color: aliceblue;
    transition: 0.2s;
    font-size: 2.6vh;
}
.ha:hover{
    color: rgb(211, 197, 255);
    text-shadow: 0 0 10px rgb(169, 151, 223);
}
main{
    padding: 20vh 10vh;
}
.cont{
    padding-top: 10vh;
    display: flex;
    gap: 10vh;
    margin-bottom: 10vh;
}
.fast{
    width: 35vh;
    height: 35vh;
}
.cont p{
    font-size: 2.6vh;
    width: 80%;
}
.hh1{
    text-align: center;
    font-size: 6vh;
    text-decoration: underline;
    text-shadow: 1vh 1vh 3vh rgb(169, 151, 223);
    margin-top: 15vh;
}
.hhh1{
    margin-top: 0vh;
}
.htmltxt{
    width: 100%;
}
.htmltxt h1{
    font-size: 4.5vh;
}
.container{
    display: flex;
    gap: 5vh;
    justify-content: center;
    padding-top: 10vh;
    flex-wrap: wrap;
}
.card {
    box-shadow: 0 0 5vh rgba(0, 0, 0, 0.3);
    border-radius: 2vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    min-width: 250px;
    transition: 0.3s;
}
.card img{
    width: 20vh;
}
.card h1{
    font-size: 4.5vh;
}
.card p{
    width: 70%;
    text-align: justify;
    font-size: 2.8vh;
}
.card:hover{
    scale: calc(1.1);
}
.code-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    gap: 4vh;
}
.code-cont h1{
    font-size: 4.6vh;
}
.e{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.e img{
    width: 100%;
}
.cont-dowl{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vh;
    padding: 10vh;
}
.cont-dowl h1{
    font-size: 4vh;
}
.card-dwl{
    text-align: center;
    gap: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-dwl p{
    font-size: 2.6vh;
}
.btn{
    height: 7vh;
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s;
    font-size: 2.6vh;
    background-color: rgb(13, 201, 13);
    border-radius: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    min-width: 120px;
}
.btn:hover{
    scale: calc(1.1);
}
footer{
    width: 100%;
    height: 25vh;
    background-color: rgb(82, 156, 175);
    display: flex;
    align-items: center;
    padding: 0vh 15vh 0vh 15vh;
    gap: 5vh;
    font-size: 5vh;
    color: aliceblue;
    text-shadow: 0 0 1vh white;
}
footer img{
    width: 20vh;
}
footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}
.s1{
    padding-left: 2vh;
    padding-right: 2vh;
    background-color: rgb(255, 230, 0);
}
.s2{
    padding-left: 2vh;
    padding-right: 2vh;
    background-color: rgb(0, 102, 255);
}
.media-a{
    display: none;
}
@media(max-width: 900px){
    .cont{
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    main{
        padding: 20vh 5vh;
    }
    .htmltxt p{
        width: 100%;
    }
    .code-cont{
        flex-direction: column;
        align-items: center;
    }
    .cont-dowl{
        flex-direction: column;
        gap: 10vh;
    }
    .cont-dowl img {
        width: 15vh;
        height: 15vh;
    }
    header{
        padding: 0vh 5vh 0vh 5vh;
    }
}
@media(max-width: 500px){
    .media-a{
        display: block;
    }
    .hdr-ul {
        display: none;
    }
    footer{
        padding: 0vh 2vh 0vh 2vh;
    }
    footer img{
        width: 15vh;
    }
}